.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  bottom: 0;
  gap: 10px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  gap: 12px;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
}

.footer-list-link {
  color: white;
  text-decoration: none;
}

.footer-info {
  text-align: center;
  font-size: 12px;
  color: #ffffffbd;
}
