.carousel-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background: linear-gradient(rgba(19, 21, 141, 0.646), rgba(97, 27, 7, 0.947));
  border-radius: 15px;
  padding: 30px;
}

img {
  border-radius: 15px;
  max-width: 400px;
  width: 400px;
  height: 500px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}
